internal/intel/aa/01_specs/gstr1_3b_v1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:aa="http://api.rebit.org.in/FISchema/gstr1_3b" targetNamespace="http://api.rebit.org.in/FISchema/gstr1_3b"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1">
    
    <!--  -->
    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.1.0"/>
        </xs:restriction>  
    </xs:simpleType>
    
    <!-- Nature of business enum -->
    <xs:simpleType name="NatureOfBusiness">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BONDED_WAREHOUSE"/>
            <xs:enumeration value="EOU_OR_STP_OR_EHTP"/>
            <xs:enumeration value="EXPORT"/>
            <xs:enumeration value="FACTORY_OR_MANUFACTURING"/>
            <xs:enumeration value="IMPORT"/>
            <xs:enumeration value="INPUT_SERVICE_DISTRIBUTOR"/>            
            <xs:enumeration value="LEASING_BUSINESS"/>
            <xs:enumeration value="OFFICE_OR_SALE_OFFICE"/>
            <xs:enumeration value="OTHERS"/>
            <xs:enumeration value="RETAIL_BUSINESS"/>
            <xs:enumeration value="SEZ"/>
            <xs:enumeration value="SUPPLIER_OF_SERVICES"/>
            <xs:enumeration value="SERVICE_PROVISION"/>
            <xs:enumeration value="RECIPIENT_OF_GOODS_OR_SERVICES"/>
            <xs:enumeration value="WHOLESALE_BUSINESS"/>
            <xs:enumeration value="WORKS_CONTRACT"/>
            <xs:enumeration value="WAREHOUSE_OR_DEPOT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Invoice Type enum R/SEWP/SEWOP/DE/CBW -->
    <xs:simpleType name="Invoice_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="R"/>
            <xs:enumeration value="SEWP"/>
            <xs:enumeration value="SEWOP"/>
            <xs:enumeration value="DE"/>
            <xs:enumeration value="CBW"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Transaction Type enum IMPG/IMPS/ISRC/ISD/RUL/OTH -->
    <xs:simpleType name="Transaction_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPG"/>
            <xs:enumeration value="IMPS"/>
            <xs:enumeration value="ISRC"/>
            <xs:enumeration value="ISD"/>
            <xs:enumeration value="RUL"/>
            <xs:enumeration value="OTH"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Inward Supply Type enum GST/NONGST -->
    <xs:simpleType name="Supply_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GST"/>
            <xs:enumeration value="NONGST"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- FilingFrequency Type enum -->
    <xs:simpleType name="FilingFrequency_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MONTHLY"/>
            <xs:enumeration value="QUARTERLY"/>
            <xs:enumeration value="YEARLY"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Root element Account -->
    <xs:element name="Account">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:Profile" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="aa:Transactions" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="maskedGstinNumber" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Masked GSTIN Number</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="version" use="required" type="aa:version"/>
            <xs:attribute name="linkedAccRef" use="required" type="xs:string"/>
            <xs:attribute name="type" use="required" type="xs:string" fixed="gstr1_3b"/>
        </xs:complexType>
    </xs:element>
    
    <!-- Account.Profile element -->
    <xs:element name="Profile">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:BusinessDetails"/>
                <xs:element ref="aa:PlaceofBusiness"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Profile.BusinessDetails element -->
    <xs:element name="BusinessDetails">
        <xs:annotation>
            <xs:documentation>Business Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:CategoryList"/>
            </xs:sequence>
            <xs:attribute name="lgnm" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Legal Name of Business</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="apprvdt" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>GSTN Creation Date</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iscmp" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Composition Y/N</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dty" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type of Taxpayer</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sts" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Status</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="trdnm" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Trade Name</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- BusinessDetails.CategoryList element -->
    <xs:element name="CategoryList">
        <xs:annotation>
            <xs:documentation>List of Categories for Registration Person</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cat" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Profile.PlaceofBusiness element -->
    <xs:element name="PlaceofBusiness">
        <xs:annotation>
            <xs:documentation>Place of Business</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:Address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- PlaceofBusiness.Address element -->
    <xs:element name="Address">
        <xs:annotation>
            <xs:documentation>Address of Business</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:NatureOfBusinessList"/>
            </xs:sequence>
            <xs:attribute name="bno" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Building No</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="flno" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Floor No</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="bnm" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of Building</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="st" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Road/Street</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="loc" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>City/Town/Village</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="stcd" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>State</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dst" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>District</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pncd" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>PIN Code</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- Address.NatureOfBusinessList element -->
    <xs:element name="NatureOfBusinessList">
        <xs:annotation>
            <xs:documentation>List of Nature of Business</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ntr" minOccurs="0" maxOccurs="unbounded" type="aa:NatureOfBusiness"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Account.Transactions element -->
    <xs:element name="Transactions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:Gstr1Details"/>
                <xs:element ref="aa:Gstr3bDetails"/>
            </xs:sequence>
            <xs:attribute name="strdt" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Transaction start date</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="endt" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Transaction end date</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- Transactions.Gstr1Details element -->
    <xs:element name="Gstr1Details">
        <xs:annotation>
            <xs:documentation>GSTR-1 Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:gstr1" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Gstr1Details.gstr1 element -->
    <xs:element name="gstr1">
        <xs:annotation>
            <xs:documentation>GSTR-1 Details for a specific period</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:b2b_dtls"/>
            </xs:sequence>
            <xs:attribute name="ret_prd" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tax Period Selected by user</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dof" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Date of Filing</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="filingFrequency" use="required" type="aa:FilingFrequency_Type">
                <xs:annotation>
                    <xs:documentation>Filing frequency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="status" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Status of the Return filed</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr1.b2b_dtls element -->
    <xs:element name="b2b_dtls">
        <xs:annotation>
            <xs:documentation>B2B Invoice Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:b2b"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- b2b_dtls.b2b element -->
    <xs:element name="b2b">
        <xs:annotation>
            <xs:documentation>Details of B2B invoices for a counterparty</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itm_det"/>
            </xs:sequence>
            <xs:attribute name="ctin" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Counter party GSTIN</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="inum" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Supplier Invoice Number</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="idt" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Supplier Invoice Date</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="val" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Supplier Invoice Value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pos" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Place of supply</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="rchrg" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Reverse Charge</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="inv_typ" use="required" type="aa:Invoice_Type">
                <xs:annotation>
                    <xs:documentation>Invoice type</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="opd" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Original Period</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="srctyp" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Source Type of IRN</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="irn" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>IRN number</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="irngendate" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>IRN generation Date</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="diff_percent" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Differential percentage</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- b2b.itm_det element -->
    <xs:element name="itm_det">
        <xs:annotation>
            <xs:documentation>Item Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itm"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itm_det.itm element -->
    <xs:element name="itm">
        <xs:annotation>
            <xs:documentation>Details of each item in B2B Invoice</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Taxable value of Goods or Service as per invoice</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>IGST Amount as per invoice</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CGST Amount as per invoice</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>SGST Amount as per invoice</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="required" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS Amount as per invoice</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- Transactions.Gstr3bDetails element -->
    <xs:element name="Gstr3bDetails">
        <xs:annotation>
            <xs:documentation>GSTR-3B Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:gstr3b" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Gstr3bDetails.gstr3b element -->
    <xs:element name="gstr3b">
        <xs:annotation>
            <xs:documentation>GSTR-3B details for a specific period</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:sup_details"/>
                <xs:element ref="aa:sup_inter"/>
                <xs:element ref="aa:eco_dtls"/>
                <xs:element ref="aa:itc_elg"/>
                <xs:element ref="aa:inward_sup"/>
                <xs:element ref="aa:intr_ltfee"/>
                <xs:element ref="aa:tx_pmt"/>
                <xs:element ref="aa:pdcash_dtls"/>
            </xs:sequence>
            <xs:attribute name="ret_prd" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tax Period Selected by user</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dof" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Date of Filing</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="filingFrequency" use="required" type="aa:FilingFrequency_Type">
                <xs:annotation>
                    <xs:documentation>Filing frequency</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="status" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Status of the Return filed</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.sup_details element -->
    <xs:element name="sup_details">
        <xs:annotation>
            <xs:documentation>Details of Outward Supplies and Inward Supplies liable to reverse charge</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:osup_det"/>
                <xs:element ref="aa:osup_zero"/>
                <xs:element ref="aa:osup_nil_exmp"/>
                <xs:element ref="aa:isup_rev"/>
                <xs:element ref="aa:osup_nongst"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_details.osup_det element -->
    <xs:element name="osup_det">
        <xs:annotation>
            <xs:documentation>Outward taxable supplies (other than zero rated, nil rated and exempted)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_details.osup_zero element -->
    <xs:element name="osup_zero">
        <xs:annotation>
            <xs:documentation>Outward taxable supplies (zero rated )</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_details.osup_nil_exmp element -->
    <xs:element name="osup_nil_exmp">
        <xs:annotation>
            <xs:documentation>Other outward supplies (Nil rated, exempted)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_details.isup_rev element -->
    <xs:element name="isup_rev">
        <xs:annotation>
            <xs:documentation>Inward supplies (liable to reverse charge)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_details.osup_nongst element -->
    <xs:element name="osup_nongst">
        <xs:annotation>
            <xs:documentation>Non-GST outward supplies</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.sup_inter element -->
    <xs:element name="sup_inter">
        <xs:annotation>
            <xs:documentation>Details of inter-State supplies made to unregistered persons, composition taxable persons and UIN holders</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:unreg_details_list"/>
                <xs:element ref="aa:comp_details_list"/>
                <xs:element ref="aa:uin_details_list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_inter.unreg_details_list element -->
    <xs:element name="unreg_details_list">
        <xs:annotation>
            <xs:documentation>Supplies made to Unregistered Persons</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:unreg_details"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- unreg_details_list.unreg_details element -->
    <xs:element name="unreg_details">
        <xs:annotation>
            <xs:documentation>Supplies made to a specific Unregistered Person</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Amount of Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pos" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Place of Supply (State/UT)  </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_inter.comp_details_list element -->
    <xs:element name="comp_details_list">
        <xs:annotation>
            <xs:documentation>Supplies made to Composition Taxable Persons</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:comp_details"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- comp_details_list.comp_details element -->
    <xs:element name="comp_details">
        <xs:annotation>
            <xs:documentation>Supplies made to a specific Composition Taxable Person</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Amount of Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pos" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Place of Supply (State/UT)  </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- sup_inter.uin_details_list element -->
    <xs:element name="uin_details_list">
        <xs:annotation>
            <xs:documentation>Supplies made to UIN holders</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:uin_details"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- uin_details_list.uin_details element -->
    <xs:element name="uin_details">
        <xs:annotation>
            <xs:documentation>Supplies made to a specific UIN holder</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Amount of Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pos" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Place of Supply (State/UT)  </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.eco_dtls element -->
    <xs:element name="eco_dtls">
        <xs:annotation>
            <xs:documentation>Supplies notified under section 9(5) of the CGST Act, 2017</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:eco_sup"/>
                <xs:element ref="aa:eco_reg_sup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- eco_dtls.unreg_details element -->
    <xs:element name="eco_sup">
        <xs:annotation>
            <xs:documentation>Taxable supplies on which electronics commerce operator pays tax u/s 9(5)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- eco_dtls.eco_reg_sup element -->
    <xs:element name="eco_reg_sup">
        <xs:annotation>
            <xs:documentation>Taxable supplies made by registered person through electronics commerce operator</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="txval" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Total Taxable value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.itc_elg element -->
    <xs:element name="itc_elg">
        <xs:annotation>
            <xs:documentation>Eligible ITC</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itc_avl_list"/>
                <xs:element ref="aa:itc_rev_list"/>
                <xs:element ref="aa:itc_net"/>
                <xs:element ref="aa:itc_inelg_list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_elg.itc_avl_list element -->
    <xs:element name="itc_avl_list">
        <xs:annotation>
            <xs:documentation>List of ITC Available (whether in full or part)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itc_avl"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_avl_list.itc_avl element -->
    <xs:element name="itc_avl">
        <xs:annotation>
            <xs:documentation>ITC Available (whether in full or part)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" use="optional" type="aa:Transaction_Type">
                <xs:annotation>
                    <xs:documentation>Type</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_elg.itc_rev_list element -->
    <xs:element name="itc_rev_list">
        <xs:annotation>
            <xs:documentation>List of ITC Reversed</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itc_rev"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_rev_list.itc_avl element -->
    <xs:element name="itc_rev">
        <xs:annotation>
            <xs:documentation>ITC Reversed</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" use="optional" type="aa:Transaction_Type">
                <xs:annotation>
                    <xs:documentation>Type</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_elg.itc_net element -->
    <xs:element name="itc_net">
        <xs:annotation>
            <xs:documentation>Net ITC Available</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_elg.itc_inelg_list element -->
    <xs:element name="itc_inelg_list">
        <xs:annotation>
            <xs:documentation>List of Ineligible ITC</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:itc_inelg"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itc_inelg_list.itc_inelg element -->
    <xs:element name="itc_inelg">
        <xs:annotation>
            <xs:documentation>Ineligible ITC</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" use="optional" type="aa:Transaction_Type">
                <xs:annotation>
                    <xs:documentation>Type</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.inward_sup element -->
    <xs:element name="inward_sup">
        <xs:annotation>
            <xs:documentation>Values of exempt, nil-rated and Non-GST  inward supplies</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:isup_details_list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- inward_sup.isup_details_list element -->
    <xs:element name="isup_details_list">
        <xs:annotation>
            <xs:documentation>List of Inward Supply Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:isup_details"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- isup_details_list.isup_details element -->
    <xs:element name="isup_details">
        <xs:annotation>
            <xs:documentation>Inward Supply Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="ty" use="optional" type="aa:Supply_Type">
                <xs:annotation>
                    <xs:documentation>Type</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="inter" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Inter - State supplies</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="intra" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Intra - State supplies</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.intr_ltfee element -->
    <xs:element name="intr_ltfee">
        <xs:annotation>
            <xs:documentation>Interest and late fee payable</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:intr_details"/>
                <xs:element ref="aa:ltfee_details"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- intr_ltfee.intr_details element -->
    <xs:element name="intr_details">
        <xs:annotation>
            <xs:documentation>Interest</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="iamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Integrated Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="csamt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- intr_ltfee.ltfee_details element -->
    <xs:element name="ltfee_details">
        <xs:annotation>
            <xs:documentation>Late fees</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="camt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Central Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="samt" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>State/UT Tax</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.tx_pmt element -->
    <xs:element name="tx_pmt">
        <xs:annotation>
            <xs:documentation>Tax Payment Details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:tx_py_list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- tx_pmt.tx_py_list element -->
    <xs:element name="tx_py_list">
        <xs:annotation>
            <xs:documentation>List of tax payable</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:tx_py"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- itx_py_list.tx_py element -->
    <xs:element name="tx_py">
        <xs:annotation>
            <xs:documentation>Tax Payable</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:sgst"/>
                <xs:element ref="aa:igst"/>
                <xs:element ref="aa:cgst"/>
                <xs:element ref="aa:cess"/>
            </xs:sequence>
            <xs:attribute name="trans_desc" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Transaction description</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- tx_py.sgst element -->
    <xs:element name="sgst">
        <xs:annotation>
            <xs:documentation>SGST details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="intr" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tx" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Tax payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="fee" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Late fee payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- tx_py.igst element -->
    <xs:element name="igst">
        <xs:annotation>
            <xs:documentation>IGST details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="intr" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tx" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Tax payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- tx_py.cgst element -->
    <xs:element name="cgst">
        <xs:annotation>
            <xs:documentation>CGST details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="intr" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tx" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Tax payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="fee" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Late fee payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- tx_py.cess element -->
    <xs:element name="cess">
        <xs:annotation>
            <xs:documentation>CESS details</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="intr" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tx" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Tax payable</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- gstr3b.pdcash_dtls element -->
    <xs:element name="pdcash_dtls">
        <xs:annotation>
            <xs:documentation>Details of Paid Through Cash</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:pdcash_list"/>
                <xs:element ref="aa:pditc"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- pdcash_dtls.pdcash_list element -->
    <xs:element name="pdcash_list">
        <xs:annotation>
            <xs:documentation>List of Paid Through Cash</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aa:pdcash"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- ipdcash_list.pdcash element -->
    <xs:element name="pdcash">
        <xs:annotation>
            <xs:documentation>Paid Through Cash</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="trans_desc" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Transaction description</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ipd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>IGST paid</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="cpd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CGST paid</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="spd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>SGST paid</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="cspd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS paid</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="i_intrpd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest Paid  against IGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="c_intrpd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest Paid  against CGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="s_intrpd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest Paid  against SGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="cs_intrpd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Interest Paid  against CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="c_lfeepd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Late Fee Paid against CGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="s_lfeepd" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>Late Fee Paid against SGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <!-- pdcash_dtls.pditc element -->
    <xs:element name="pditc">
        <xs:annotation>
            <xs:documentation>Paid Through Credit</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="trans_desc" use="optional" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Transaction description</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="i_pdi" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>IGST paid using IGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="i_pdc" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>IGST paid using CGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="i_pds" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>IGST paid using SGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="c_pdi" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CGST paid using IGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="c_pdc" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CGST paid using CGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="s_pdi" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>SGST paid using IGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="s_pds" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>SGST paid using SGST</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="cs_pdcs" use="optional" type="xs:double">
                <xs:annotation>
                    <xs:documentation>CESS paid using CESS</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
